<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.tzion.android.movies">

    <application android:theme="@style/AppTheme">
        <activity android:name=".ui.ListMoviesActivity">
            <intent-filter>
                <action android:name="com.tzion.android.movies.list.open"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
